
* {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

body h1 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 24pt;
  text-align: left;
  margin: 0 0 0.5rem 0;
}

#btcPrice {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 6vw;
  text-align: left;
  margin-left: 2rem;
  margin-top: 3rem;
}

#bitcoin {
  text-decoration: underline;
  -webkit-text-decoration-color: orange;
  text-decoration-color: orange;
  text-underline-position: under;
}

#stupid {
  text-decoration: underline;
  -webkit-text-decoration-color: blue;
  text-decoration-color: blue;
  text-underline-position: under;
}

#amount {
  text-decoration: underline;
  -webkit-text-decoration-color: green;
  text-decoration-color: green;
  text-underline-position: under;
  margin-bottom: 3rem;
}

#you {
  margin-top: 1.5rem;
}

.responsive {
  width: 35%;
}

#or {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 2rem;
  margin-top: 0rem;
  margin-bottom: 1rem;
  -ms-flex-item-align: center;
  align-self: center;
  align-items: center;
}

#percent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 6vw;
  word-break: break-word;
  text-align: center;
  color: darkorange;
}

.textBody {
  display: flex;
  flex-direction: column;
}

#starting {
  text-decoration: underline;
  -webkit-text-decoration-color: orange;
  text-decoration-color: orange;
}

p {
  text-align: center;
  font-family: 'Rubik', 'sans-serif';
}

#orText {
  margin: 2rem;
}

.button {
  text-align: center;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

#shuffle {
  margin-top: 2rem;
  background-color: blue;
  color: white;
  border: 0;
  height: 8vh;
  width: 80%;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 100%;
  font-weight: 700;
  -webkit-box-shadow: 0px 5px 10px rgba(darken(dodgerblue, 40%));
  box-shadow: 0px 5px 10px rgba(darken(dodgerblue, 40%));
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  cursor: pointer;
  border-radius: 5px;
  border-bottom: 4px solid lighten(gray, 70%);
  outline-color: white;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

#shuffle:hover {
  -webkit-box-shadow: 0px 15px 25px -5px rgba(darken(dodgerblue, 40%));
  box-shadow: 0px 15px 25px -5px rgba(darken(dodgerblue, 40%));
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

#shuffle:active {
  -webkit-box-shadow: 0px 4px 8px rgba(darken(dodgerblue, 30%));
  box-shadow: 0px 4px 8px rgba(darken(dodgerblue, 30%));
  -webkit-transform: scale(.98);
  -ms-transform: scale(.98);
  transform: scale(.98);
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

#historical {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

#productImage:hover {
  overflow: visible;
}

@media (min-width: 600px) {
  .textBody {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 5%;
    margin-bottom: 0;
    text-align: left;
  }

  #or {
    width: 45%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
  }

  #containerTwo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .button {
    display: block;
    width: 40%;
    margin: auto;
  }

  #shuffle {
    height: 8vh;
    width: 100%;
  }

  .responsive {
    width: 25%;
  }

  #percent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 2vw;
    word-break: break-word;
    text-align: center;
    color: darkorange;
  }

  #orText {
    text-align: center;
  }

  body h1 {
    margin: 0;
    font-size: 40px;
  }
}

@media (min-width: 1000px) {
  .textBody {
    margin-top: 10%;
    width: 30%
  }
}

@media (min-width: 1200px) {
  .textBody {
    margin-top: 10%;
    width: 20%
  }
}

@media (min-width: 100px) and (max-width: 1000px) {
  .textBody {
    width: 80%
  }
}

@media (min-width: 400px) and (max-width: 550px) {
  .textBody {
    margin-top: 10%;
  }
}

@media (min-width: 700px) and (max-width: 800px) {
  .textBody {
    margin-top: 10%;
    margin-left: 0;
  }
}

@media (max-width: 365px) {
  .textBody {
    margin-top: 10%;
  }

  #or {
    margin-bottom: 0rem;
  }
}

@media (max-width: 281px) {
  body h1 {
    font-size: 28px;
  }

  .textBody {
    margin-top: 25%;
    margin-left: 1rem;
  }
}
