* {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

body h1 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 24pt;
  text-align: left;
  margin: 0 0 0.2rem 0;
}

#btcPrice {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 6vw;
  text-align: left;
  margin-left: 2rem;
  margin-top: 3rem;
}

#bitcoin {
  text-decoration: underline;
  -webkit-text-decoration-color: orange;
  text-decoration-color: orange;
  text-underline-position: under;
}

#stupid {
  text-decoration: underline;
  -webkit-text-decoration-color: blue;
  text-decoration-color: blue;
  text-underline-position: under;
}

#amount {
  text-decoration: underline;
  -webkit-text-decoration-color: green;
  text-decoration-color: green;
  text-underline-position: under;
  margin-bottom: 3rem;
}

#you {
  margin-top: 1.5rem;
}

.responsive {
  width: 35%;
}

#or {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: center;
  margin: 2rem;
  margin-top: 0rem;
  margin-bottom: 1rem;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#percent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 6vw;
  word-break: break-word;
  text-align: center;
  color: darkorange;
}

.textBody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

#starting {
  text-decoration: underline;
  -webkit-text-decoration-color: orange;
  text-decoration-color: orange;
}

p {
  text-align: center;
  font-family: 'Rubik', 'sans-serif';
}

#orText {
  margin: 2rem;
}

.button {
  text-align: center;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

#shuffle {
  margin-top: 2rem;
  background-color: blue;
  color: white;
  border: 0;
  height: 8vh;
  width: 80%;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 100%;
  font-weight: 700;
  -webkit-box-shadow: 0px 5px 10px rgba(darken(dodgerblue, 40%));
  box-shadow: 0px 5px 10px rgba(darken(dodgerblue, 40%));
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  cursor: pointer;
  border-radius: 5px;
  border-bottom: 4px solid lighten(gray, 70%);
  outline-color: white;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

#shuffle:hover {
  -webkit-box-shadow: 0px 15px 25px -5px rgba(darken(dodgerblue, 40%));
  box-shadow: 0px 15px 25px -5px rgba(darken(dodgerblue, 40%));
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

#shuffle:active {
  -webkit-box-shadow: 0px 4px 8px rgba(darken(dodgerblue, 30%));
  box-shadow: 0px 4px 8px rgba(darken(dodgerblue, 30%));
  -webkit-transform: scale(.98);
  -ms-transform: scale(.98);
  transform: scale(.98);
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

#historical {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

#productImage:hover {
  overflow: visible;
}

@media (min-width: 600px) {
  .textBody {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 5%;
    margin-bottom: 0;
    text-align: left;
  }

  #or {
    width: 45%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: center;
  }

  #containerTwo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .button {
    display: block;
    width: 40%;
    margin: auto;
  }

  #shuffle {
    height: 8vh;
    width: 100%;
  }

  .responsive {
    width: 25%;
  }

  #percent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 2vw;
    word-break: break-word;
    text-align: center;
    color: darkorange;
  }

  #orText {
    text-align: center;
  }

  body h1 {
    margin: 0;
    font-size: 40px;
  }
}

@media (min-width: 1126px) {
  .textBody {
    width: 30%
  }
}

@media (min-width: 1200px) {
  .textBody {
    width: 20%
  }
}

@media (min-width: 100px) and (max-width: 1125px) {
  .textBody {
    width: 70%;
  }

  body h1 {
    font-size: 20pt;
  }
}

@media (min-width: 400px) and (max-width: 550px) {
  .textBody {
    margin-top: 10%;
  }
}

@media (min-width: 700px) and (max-width: 800px) {
  .textBody {
    margin-top: 10%;
    margin-left: 0;
  }
}

@media (max-width: 365px) {
  .textBody {
    margin-top: 10%;
  }

  #or {
    margin-bottom: 0rem;
  }
}

@media (max-width: 281px) {
  body h1 {
    font-size: 28px;
  }

  .textBody {
    margin-top: 25%;
    margin-left: 1rem;
  }
}

.donate-crypto-box {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1em;
  box-sizing: border-box;
  user-select: none;
  cursor: text;
}

.coin {
  display: inline-block;
  position: relative;
  min-width: 3em;
  min-height: 3em;
  animation: spin 3s cubic-bezier(0.3, 2, 0.4, 0.8) infinite both;
  transform-style: preserve-3d;
  vertical-align: middle;
}

@keyframes spin {

  0%,
  10% {
    transform: rotate(-10deg) perspective(400px);
  }

  90%,
  100% {
    transform: rotate(-10deg) perspective(400px) rotateY(180deg);
  }
}

.coin-face {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
}

.coin-face:nth-child(1) {
  transform: translateZ(-0.2em) rotateY(-180deg);
}

.coin-face:nth-child(2) {
  transform: translateZ(-0.1em);
}

.coin-face:nth-child(4) {
  transform: translateZ(0.1em);
}

.coin-face:nth-child(5) {
  transform: translateZ(0.2em);
}

.coin-face svg {
  width: 100%;
  height: 100%;
}

.coin-address {
  flex: 1;
  font: 0.7em/2.5 Monaco, monospace;
  text-align: center;
  margin-left: 1em;
  border-width: 0 0 2px;
  border-color: rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s;
  cursor: text;
}

.coin-address:hover {
  transition-duration: 0.1s;
}

.btc {
  max-width: 21em;
}

.btc .coin-face {
  background: shade(#ff9900, 35%);
}

.btc .coin-face:nth-child(1),
.btc .coin-face:nth-child(5) {
  background: #ff9900;
}

.btc .coin-address:hover,
.btc .coin-address:focus {
  border-color: #ff9900;
}

.eth {
  max-width: 23em;
}

.eth .coin-face {
  background: shade(#6F7CBA, 35%);
}

.eth .coin-face:nth-child(1),
.eth .coin-face:nth-child(5) {
  background: #6F7CBA;
}

.eth .coin-address:hover,
.eth .coin-address:focus {
  border-color: #6F7CBA;
}

.ltc {
  max-width: 21em;
}

.ltc .coin-face {
  background: shade(#b5b5b5, 35%);
}

.ltc .coin-face:nth-child(1),
.ltc .coin-face:nth-child(5) {
  background: #b5b5b5;
}

.ltc .coin-address:hover,
.ltc .coin-address:focus {
  border-color: #b5b5b5;
}

/* body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 4vmin;
} */

.donate-crypto-box:nth-child(1) .coin {
  animation-delay: 0.2s;
}

.donate-crypto-box:nth-child(2) .coin {
  animation-delay: 0.4s;
}

.donate-crypto-box:nth-child(3) .coin {
  animation-delay: 0.6s;
}

#donate {
  display: none;
}

#owner {
  text-align: right;
}
